#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/* .card {
  margin: 5rem;
  border: 1px solid gray;
} */

.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
}

p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}

h1 {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}

img {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}
