p {
  margin: 0;
  padding: 1.5rem 2.5rem;
  background-color: #ffffff;
  color: black;
  font-family: "Arial";
}

Header {
  -webkit-animation: fadein 9s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#Title {
  margin: 0;
  color: black;
  font-family: "Arial";
}

h1 {
  font-family: "Arial";
  text-align: center;
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
  color: black;
}

h2 {
  font-family: "Arial";
  padding: 0rem 1.5rem;
  font-size: 1.5rem;
  color: black;
}

li {
  font-family: "Arial";
  padding: 0.5rem 0.5rem;
}
