p {
  margin: 0;
  padding: 1.5rem 3.5rem;
  background-color: #ffffff;
  color: black;
  font-size: 1.25rem;
  font-family: "Arial";
}

Header {
  -webkit-animation: fadein 5s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#Title {
  margin: 0;
  color: black;
  font-family: "Arial";
}

h1 {
  font-family: "Arial";
  text-align: center;
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
  color: black;
}

img {
  padding: 0.5rem 3rem;
}

h2 {
  font-family: "Arial";
  padding: 0rem 2rem;
  font-size: 1.5rem;
  color: black;
}

ul {
  padding: 2rem 5rem;
}

li {
  font-family: "Arial";
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
}

footer {
  opacity: 0.5;
}
